.list {
  .list-search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #f6f5f6;
    padding: 0px 0px 0px 10px;
    .searchHeader {
      position: relative;
      top: 0;
    }
    .icon-back {
      font-size: 16px;
      color: #999;
    }
    .search {
      margin-left: 0;
      height: 30px;
    }
    .icon-map {
      color: #00ae66;
    }
  }

  .houseItems {
    padding: 0px 15px;
  }
  .loading {
    --width: 100%;
    --height: 110px;
  }
}