.nav {
  padding: 10px 0px;
  img {
    width: 48px;
  }
  h2 {
    font-size: 13px;
    font-weight: normal;
    margin-top: 7px;
  }
  .adm-grid-item {
    text-align: center;
  }
}

.group {
  background-color: #f6f5f6;
  padding: 0 10px 10px;
  .group-title {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 15px 10px;
    font-size: 15px;
    .more {
      color: #787d82;
      font-size: 14px;
      font-weight: normal;
    }
  }
  .adm-grid-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    .group-item {
      height: 75px;
      display: flex;
      align-items: center;
      .title {
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
      }
      .info {
        font-size: 12px;
        color: #999;
      }
    }
    img {
      width: 55px;
      height: 55px;
    }
  }
}

.news {
  padding: 0 10px;
  .news-title {
    padding: 15px 0px 0px 10px;
    font-size: 15px;
  }
  .news-item {
    display: flex;
    height: 120px;
    padding: 15px 10px 15px 0px;
    border-bottom: 1px solid #e5e5e5;
    &:last-child {
      border: none;
    }
    img {
      height: 90px;
      width: 120px;
    }
    .news-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 12px;
      .title {
        font-size: 14px;
      }
      .content {
        display: flex;
        justify-content: space-between;
        color: #9c9fa1;
        font-size: 12px;
      }
    }
  }
}